*.pyc
*.pth
*.json
dataset/tennis_court_det_dataset
*.mp4
*.onnx

# Review gitignore
test-images/
models/
examples/
inf_speed_tester.py
test.ipynb
src/inference/inf_no_onnx.py
src/inference/inference_autocast.py
README_test.md
test.py