# Folders
dataset/tennis_court_det_dataset
predictions/
models/
src/inference/inf_no_onnx.py
src/inference/inference_autocast.py


# Specific file types
*.pyc
*.pth
*.json
*.onnx
*.mp4

# Specific files
README_test.md
test.py
inf_speed_tester.py
test.ipynb